input{
    width: 20px;
    height: 20px;
    text-align: center;
}

.principal{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.palavras{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.nao_usa{
    background-color: black;
    cursor: default;
}

.dicas{
    display: flex;
    align-items: center;
    justify-content: center;
}

th{
    background-color: #010823;
    color: white;
}

td{
    background-color: #8181D7;
}

table{
    font-size: 20px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-bottom: 30px;
}

.botao button{
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: #010823;
    height: 100%;
    width: 15%;
}